{% assign mpd = entry | where: "resource.resourceType","MedicinalProductDefinition" | first%}

<div
  class="container m-1 p-1 mpd">
  <h4>
    {{ mpd.resource.name[0].productName }}
  </h4>
  {% for namepart in mpd.name[0].namePart %}
    <p>
      {{ namepart.type.coding[0].display }}:
      <b>
        {{ namepart.part }}
      </b>
    </p>
  {% endfor %}
  {% for pid in mpd.identifier %}
    {{ pid.system | split: '/' | last | upcase }}:
    <b>
      {{ pid.value }}
    </b>
  {% endfor %}

  {% if mpd.name[0].countryLanguage %}
    <div>
      {% for lang in mpd.name[0].countryLanguage %}
        <p>
          Country:
          <b>
            {{ lang.country.coding[0].display }}
          </b>
        </p>
        <p>
          Language:
          <b>
            {{ lang.language.coding[0].display }}
          </b>
        </p>

      {% endfor %}
    </div>
  {% endif %}
  <div>
    <p>
      status: {{mpd.status.coding[0].display}}
    </p>
  </div>
  <div>
    <p>
      Domain: {{mpd.domain.coding[0].display}}
    </p>
  </div>
  <div>
    <p>
      Combined pharmaceutical dose form: {{mpd.combinedPharmaceuticalDoseForm.coding[0].display}}
    </p>
  </div>
  <div>
    <p>
      Legal Status of Supply: {{mpd.legalStatusOfSupply.coding[0].display}}
    </p>
  </div>

  <div>
    Classification:
    <ul>
      {% for class in mpd.classification[0].coding %}
        <li>
          {{class.display}} ({{class.code}})
        </li>
      {% endfor %}
    </ul>
  </div>

  {% assign ppds = entry | where: "resourceType","PackagedProductDefinition"%}
  {% for ppd in ppds%}
    Package {{forloop.index}} of {{ ppds | size }}
    {% if ppd.packageFor[0].reference == mpd.id | prepend: 'MedicinalProductDefinition/' %}
      <div
        class="container m-1 p-1 rcorners ppd">

        {% for ppid in ppd.identifier %}
          {{ ppid.system | split: '/' | last | upcase }}:
          <b>
            {{ ppid.value }}
          </b>
        {% endfor %}
        <p>
          Description:
          <b>
            {{ppd.description}}
          </b>
        </p>
        Marketing Status:
        <ul>
          {% for mkts in ppd.marketingStatus %}
            <li>
              {{mkts.country.coding[0].display }}:
              <b>
                {{mkts.status.coding[0].display }}
              </b>
            </li>
          {% endfor %}
        </ul>
        <p>
          Content:
          {% for quant in ppd.containedItemQuantity %}
            {{quant.value }} {{quant.unit | pluralize: quant.unit }}
          {% endfor %}
        </p>


      </div>
    {% endif %}
  {% endfor %}

</div>
